input {
  font-size: 14px;
  border: 1px solid rgb(200, 200, 200);
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.email {
  padding-right: 212px;
  display: block;
}

button {
  background-color: rgb(47, 127, 231);
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  width: 380px;
  border-radius: 10px;
  height: 40px;
}